body{
    background:#173242;
    min-height:100vh;
    overflow:hidden;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --font-1: 'Engagement', cursive;
    --font-2: 'Oswald', sans-serif;
    --font-3: 'Rammetto One', cursive;
    --font-4: 'Cookie', cursive;
}
:before, 
:after{
    content:'';
    position:absolute;
}
canvas{
    position:absolute;
    top:25%;
    left:0;
}
.jd__scene,
.jd__app,
.jd__wave{
    position:absolute;
    width:100%;
    height:100vh;
    left:0;
}
.jd__scene img{
    position:absolute;
}
.jd__cloud1{
    width:450px;
    top:100px;
    left:0;
    transform:translateX(-100%);
    animation:move 60s linear infinite;
}
.jd__cloud2{
    width:550px;
    top:80px;
    left:0;
    transform:translateX(-100%);
    animation:move 80s linear infinite;
}
.jd__cloud3{
    width:600px;
    top:110px;
    left:0;
    transform:translateX(-100%);
    animation:move 70s linear infinite;
}
.jd__cloud4{
    width:450px;
    top:100px;
    left:0;
    transform:translateX(-100%);
    animation:move 50s linear infinite;
    animation-delay:-40s;
}
.jd__cloud5{
    width:750px;
    top:100px;
    left:0;
    transform:translateX(-100%);
    animation:move 80s linear infinite;
    animation-delay:-30s;
}
.jd__cloud6{
    width:600px;
    top:110px;
    left:0;
    transform:translateX(-100%);
    animation:move 70s linear infinite;
    animation-delay:-22s;
}
@keyframes move{
    0%{
        transform:translateX(-100%) scale(1);
    }
    0%{
        transform:translateX(calc(100vw + 100%)) scale(1.2);
    }
}

